# Análise Exploratória de Dados - Imóveis de São Paulo

## Propósito

Este notebook realiza a análise exploratória dos dados imobiliários da cidade de São Paulo, especificamente dados de IPTU (Imposto Predial e Territorial Urbano) e ITBI (Imposto sobre Transmissão de Bens Imóveis) para o período de 2019 a 2024. O objetivo é compreender a estrutura dos dados, identificar padrões, valores ausentes e características das variáveis numéricas e categóricas.

## Entradas (Inputs)

### Dados de IPTU
- **Arquivo CSV**: `data/IPTU_2019_2024.csv`
  - Dataset processado contendo informações de IPTU com Valor Venal calculado

### Dados de ITBI
- **Arquivo CSV**: `data/ITBI_2019_2024.csv`
  - Dataset consolidado de transações imobiliárias

## Processamento Realizado

1. **Carregamento de Dados**: Importa os datasets de IPTU e ITBI
2. **Análise de Valores Ausentes**: Identifica e quantifica dados faltantes
3. **Estatísticas Descritivas**: Gera estatísticas para variáveis numéricas
4. **Análise de Dados Categóricos**: Examina distribuições e frequências de variáveis categóricas

In [13]:
# Comentado: Montagem do Google Drive (usado apenas no Google Colab)
#from google.colab import drive
#drive.mount('/content/drive')

In [14]:
# Comentado: Navegação para diretório do projeto (usado apenas no Google Colab)
#%cd drive/MyDrive/Projeto\ disciplina\ PCS5787
#!pwd

In [15]:
# Importa biblioteca pandas para manipulação de dados
import pandas as pd

# Configura formatação de números float para exibição com 2 casas decimais
pd.set_option('display.float_format', lambda x: '%.2f' % x)

## Carregamento e Visualização dos Dados de IPTU

Carrega o dataset de IPTU e exibe as primeiras linhas e informações sobre a estrutura dos dados.

In [16]:
# Carrega o dataset de IPTU processado
df_iptu = pd.read_csv('data/IPTU_2019_2024.csv')

# Exibe as primeiras 20 linhas do dataset
display(df_iptu.head(20))

# Exibe informações sobre a estrutura do dataset (tipos de dados, valores não nulos, uso de memória)
display(df_iptu.info())

C:\Users\cazev\AppData\Local\Temp\ipykernel_28344\2592664849.py:2: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  df_iptu = pd.read_csv('data/IPTU_2019_2024.csv')

,NUMERO DO CONTRIBUINTE,ANO DO EXERCICIO,NOME DE LOGRADOURO DO IMOVEL,NUMERO DO IMOVEL,AREA DO TERRENO,AREA CONSTRUIDA,AREA OCUPADA,VALOR DO M2 DO TERRENO,VALOR DO M2 DE CONSTRUCAO,TIPO DE USO DO IMOVEL,TIPO DE PADRAO DA CONSTRUCAO,BAIRRO DO IMOVEL,CEP DO IMOVEL,VALOR VENAL,setor,quadra,lote,bairro
0,100300014,2019,R S CAETANO,13.00,136.00,135.00,108.00,2241,1668,Loja,Comercial horizontal - padrão B,SANTA EFIGENIA,01104-001,325195.24,1,3,1,NaN
1,100300022,2019,R S CAETANO,19.00,90.00,67.00,67.00,2241,1668,Loja,Comercial horizontal - padrão B,SANTA EFIGENIA,01104-001,197014.74,1,3,2,NaN
2,100300030,2019,R S CAETANO,27.00,105.00,140.00,84.00,2241,1668,Loja,Comercial horizontal - padrão B,SANTA EFIGENIA,01104-001,264429.29,1,3,3,NaN
3,100300049,2019,R S CAETANO,33.00,108.00,103.00,86.00,2241,1668,Loja,Comercial horizontal - padrão B,NaN,01104-001,257510.62,1,3,4,NaN
4,100300057,2019,R S CAETANO,39.00,120.00,98.00,96.00,2241,1668,Loja,Comercial horizontal - padrão B,NaN,01104-001,280637.04,1,3,5,NaN
5,100300065,2019,R S CAETANO,49.00,310.00,1804.00,285.00,2241,2139,"Prédio de apartamento, não em condomínio, de u...",Residencial vertical - padrão C,BOM RETIRO,01104-001,1466461.20,1,3,6,NaN
6,100300073,2019,R S CAETANO,57.00,257.00,802.00,257.00,2241,2139,Loja e residência (predominância comercial),Comercial vertical - padrão B,NaN,01104-001,1279282.98,1,3,7,NaN
7,100300081,2019,R S CAETANO,69.00,167.00,248.00,133.00,2241,1668,Loja,Comercial horizontal - padrão B,LUZ,01104-001,473526.36,1,3,8,NaN
8,100300091,2019,R S CAETANO,75.00,112.00,150.00,80.00,2241,1668,Loja,Comercial horizontal - padrão B,LUZ,01104-001,401112.00,1,3,9,NaN
9,100300103,2019,R S CAETANO,83.00,303.00,660.00,297.00,2241,2584,Loja,Comercial vertical - padrão C,NaN,01104-001,1685232.60,1,3,10,NaN
10,100300111,2019,R S CAETANO,89.00,285.00,505.00,206.00,2241,2139,"Outras edificações de uso comercial, com utili...",Comercial vertical - padrão B,NaN,01104-001,854724.00,1,3,11,NaN
11,100300121,2019,R S CAETANO,99.00,256.00,1082.00,256.00,2241,2139,"Outras edificações de uso comercial, com utili...",Comercial vertical - padrão B,NaN,01104-001,1129151.52,1,3,12,NaN
12,100300138,2019,R S CAETANO,113.00,120.00,166.00,96.00,2241,1668,Loja,Comercial horizontal - padrão B,NaN,01104-001,358127.74,1,3,13,NaN
13,100300154,2019,R DUTRA RODRIGUES,43.00,162.00,740.00,156.00,1251,2139,Loja e residência (predominância comercial),Comercial vertical - padrão B,NaN,01105-010,1184035.20,1,3,15,NaN
14,100300170,2019,R DUTRA RODRIGUES,59.00,168.00,336.00,168.00,1251,1668,"Outras edificações de uso comercial, com utili...",Comercial horizontal - padrão B,NaN,01105-010,669735.36,1,3,17,NaN
15,100300227,2019,R DUTRA RODRIGUES,85.00,156.00,456.00,150.00,1251,2139,Loja e residência (predominância comercial),Comercial vertical - padrão B,NaN,01105-010,390232.80,1,3,22,NaN
16,100300235,2019,R DUTRA RODRIGUES,89.00,150.00,200.00,100.00,1251,1755,Residência e outro uso (predominância residenc...,Residencial horizontal - padrão C,SANTA IFIGENIA,01105-010,257850.00,1,3,23,NaN
17,100300243,2019,R DUTRA RODRIGUES,95.00,156.00,200.00,100.00,1251,1668,Loja e residência (predominância comercial),Comercial horizontal - padrão B,LUZ,01105-010,261876.00,1,3,24,NaN
18,100300261,2019,R DUTRA RODRIGUES,147.00,171.00,630.00,171.00,1251,2139,Loja,Comercial vertical - padrão B,NaN,01105-010,1291977.00,1,3,26,NaN
19,100300278,2019,R DUTRA RODRIGUES,149.00,150.00,150.00,120.00,1251,1668,Loja e residência (predominância comercial),Comercial horizontal - padrão B,SANTA EFIGENIA,01105-010,237690.00,1,3,27,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21317311 entries, 0 to 21317310
Data columns (total 18 columns):
 #   Column                        Dtype
---  ------                        -----
 0   NUMERO DO CONTRIBUINTE        int64
 1   ANO DO EXERCICIO              int64
 2   NOME DE LOGRADOURO DO IMOVEL  object
 3   NUMERO DO IMOVEL              float64
 4   AREA DO TERRENO               float64
 5   AREA CONSTRUIDA               float64
 6   AREA OCUPADA                  float64
 7   VALOR DO M2 DO TERRENO        int64
 8   VALOR DO M2 DE CONSTRUCAO     int64
 9   TIPO DE USO DO IMOVEL         object
 10  TIPO DE PADRAO DA CONSTRUCAO  object
 11  BAIRRO DO IMOVEL              object
 12  CEP DO IMOVEL                 object
 13  VALOR VENAL                   float64
 14  setor                         int64
 15  quadra                        int64
 16  lote                          int64
 17  bairro                        object
dtypes: float64(5), int64(7), object(6)
memory usage: 2.9+ GB

None

### Conversão de Tipos de Dados

Converte colunas identificadoras para tipo object (string) para preservar zeros à esquerda e facilitar manipulações.

In [17]:
# Converte número do contribuinte para string para preservar zeros à esquerda
df_iptu["NUMERO DO CONTRIBUINTE"] = df_iptu["NUMERO DO CONTRIBUINTE"].astype("object")

# Converte ano do exercício para string
df_iptu["ANO DO EXERCICIO"] = df_iptu["ANO DO EXERCICIO"].astype("object")

## Análise de Valores Ausentes

Identifica e quantifica valores ausentes (NaN) em cada coluna do dataset de IPTU.

In [18]:
# Calcula a quantidade de valores ausentes por coluna
missing_values = df_iptu.isnull().sum()
display(missing_values)

NUMERO DO CONTRIBUINTE                 0
ANO DO EXERCICIO                       0
NOME DE LOGRADOURO DO IMOVEL           0
NUMERO DO IMOVEL                  512450
AREA DO TERRENO                        0
AREA CONSTRUIDA                        0
AREA OCUPADA                           0
VALOR DO M2 DO TERRENO                 0
VALOR DO M2 DE CONSTRUCAO              0
TIPO DE USO DO IMOVEL                  0
TIPO DE PADRAO DA CONSTRUCAO           0
BAIRRO DO IMOVEL                 7428869
CEP DO IMOVEL                          0
VALOR VENAL                            0
setor                                  0
quadra                                 0
lote                                   0
bairro                          19558367
dtype: int64

## Gera Estatísticas Descritivas

Calcula estatísticas descritivas (média, desvio padrão, quartis, mínimo, máximo) para todas as variáveis numéricas do dataset de IPTU.

In [19]:
# Seleciona apenas as colunas numéricas (int64 e float64)
numerical_columns = df_iptu.select_dtypes(include=['int64', 'float64'])

# Calcula estatísticas descritivas (count, mean, std, min, 25%, 50%, 75%, max)
descriptive_stats = numerical_columns.describe()
display(descriptive_stats)

,NUMERO DO IMOVEL,AREA DO TERRENO,AREA CONSTRUIDA,AREA OCUPADA,VALOR DO M2 DO TERRENO,VALOR DO M2 DE CONSTRUCAO,VALOR VENAL,setor,quadra,lote
count,20804861.00,21317311.00,21317311.00,21317311.00,21317311.00,21317311.00,21317311.00,21317311.00,21317311.00,21317311.00
mean,581.87,3986.79,154.29,1304.12,2462.21,1846.71,437341.05,100.31,146.46,250.45
std,1124.40,16923.68,1057.46,3451.62,3144.23,819.97,4474126.24,73.31,140.08,409.18
min,0.00,1.00,0.00,0.00,45.00,0.00,78.01,1.00,1.00,1.00
25%,102.00,185.00,63.00,90.00,682.00,1322.00,112866.61,43.00,44.00,34.00
50%,262.00,711.00,100.00,324.00,1331.00,1774.00,209142.38,86.00,97.00,98.00
75%,619.00,2481.00,153.00,1234.00,2870.00,2291.00,379048.16,147.00,209.00,295.00
max,99541.00,4307493.00,950328.00,464200.00,32871.00,4249.00,4861333058.59,310.00,999.00,9995.00

## Analisa Dados Categóricos

Examina a distribuição e frequências das variáveis categóricas do dataset de IPTU. Para colunas com muitos valores únicos, exibe apenas as 20 categorias mais frequentes.

In [20]:
# Seleciona todas as colunas do tipo object (categóricas)
categorical_columns = df_iptu.select_dtypes(include='object').columns.tolist()

# Remove colunas identificadoras que não são variáveis categóricas de interesse
categorical_columns.remove('NUMERO DO CONTRIBUINTE')
categorical_columns.remove('ANO DO EXERCICIO')

# Para cada coluna categórica, exibe a contagem de valores
for col in categorical_columns:
    print(f"\nContagem de valores para coluna: {col}")
    # Exibe as 20 categorias mais frequentes para colunas com muitos valores únicos
    if df_iptu[col].nunique() > 20:
        display(df_iptu[col].value_counts().head(20))
    else:
        # Exibe todas as categorias se houver 20 ou menos valores únicos
        display(df_iptu[col].value_counts())

Contagem de valores para coluna: NOME DE LOGRADOURO DO IMOVEL

NOME DE LOGRADOURO DO IMOVEL
AV  PAULISTA                         77929
AV  RAIMUNDO PEREIRA DE MAGALHAES    55815
R DA CONSOLACAO                      48862
AV BRIG LUIS ANTONIO                 46957
R  VERGUEIRO                         46871
AV  NOVE DE JULHO                    43988
AV BRIG FARIA LIMA                   43365
AV  CELSO GARCIA                     40689
R  BELA CINTRA                       37504
R  VOLUNTARIOS DA PATRIA             37337
AV  ANGELICA                         36800
AV  INTERLAGOS                       35613
R FREI CANECA                        33456
AL  SANTOS                           31434
AL  LORENA                           29945
AV DAS NACOES UNIDAS                 28548
AV PDE ARLINDO VIEIRA                28472
AV  VILA EMA                         27459
R  AUGUSTA                           26127
R  OSCAR FREIRE                      25828
Name: count, dtype: int64

Contagem de valores para coluna: TIPO DE USO DO IMOVEL

TIPO DE USO DO IMOVEL
Apartamento em condomínio                                                                     8521073
Residência                                                                                    6491698
Residência coletiva, exclusive cortiço (mais de uma residência no lote)                       1225981
Garagem (unidade autônoma) em edifício em condomínio de uso exclusivamente residencial        1185071
Escritório/consultório em condomínio (unidade autônoma)                                        831480
Terreno                                                                                        628525
Residência e outro uso (predominância residencial)                                             512335
Loja                                                                                           324601
Loja e residência (predominância comercial)                                                    266636
Garagem (unidade autônoma) em edifício em condomínio de escritórios, consultórios ou misto     227966
Flat de uso comercial (semelhante a hotel)                                                     148873
Prédio de escritório ou consultório, não em condomínio, com ou sem lojas                       146405
Loja em edifício em condomínio (unidade autônoma)                                              141544
Outras edificações de uso comercial, com utilização múltipla                                   130481
Indústria                                                                                       79343
Oficina                                                                                         59395
Garagem (unidade autônoma) de prédio de garagens                                                56335
Armazéns gerais e depósitos                                                                     53737
Escola                                                                                          41769
Templo                                                                                          35933
Name: count, dtype: int64

Contagem de valores para coluna: TIPO DE PADRAO DA CONSTRUCAO

TIPO DE PADRAO DA CONSTRUCAO
Residencial vertical - padrão C                                                     6382194
Residencial horizontal - padrão C                                                   3914083
Residencial horizontal - padrão B                                                   2366972
Residencial horizontal - padrão A                                                   1712458
Residencial vertical - padrão D                                                     1562978
Residencial vertical - padrão B                                                      977441
Comercial vertical - padrão C                                                        697734
TERRENO                                                                              628525
Comercial horizontal - padrão B                                                      546644
Residencial vertical - padrão A                                                      504219
Comercial vertical - padrão B                                                        343317
Residencial vertical - padrão E                                                      334241
Residencial horizontal - padrão D                                                    281627
Comercial vertical - padrão D                                                        248415
Comercial horizontal - padrão C                                                      127771
Comercial vertical - padrão E                                                        116219
Oficina/Posto de serviço/Armazém/Depósito/Indústria - padrão C                       115108
Barracão/Telheiro/Oficina/Posto de serviço/Armazém/Depósito/Indústria - padrão B      90836
Comercial horizontal - padrão A                                                       68680
Edifício de garagens - padrão A                                                       56546
Name: count, dtype: int64

Contagem de valores para coluna: BAIRRO DO IMOVEL

BAIRRO DO IMOVEL
TATUAPE                  166208
SAUDE                    140575
BELA VISTA               139486
PERDIZES                 136232
ITAQUERA                 132586
SANTANA                  123840
VILA MARIANA             107107
CERQUEIRA CESAR          105886
CJ HAB JOSE BONIFACIO    103063
PINHEIROS                 96718
IPIRANGA                  96172
BUTANTA                   92428
INDIANOPOLIS              90935
MOOCA                     85551
PIRITUBA                  82326
BLOCO B                   80816
BLOCO A                   76660
TUCURUVI                  76149
JD PAULISTA               75649
CENTRO                    75245
Name: count, dtype: int64

Contagem de valores para coluna: CEP DO IMOVEL

CEP DO IMOVEL
04297-000    18776
05303-000    18443
05804-900    18315
01306-010    18201
04194-260    16447
03210-001    16049
05019-000    15211
05017-000    14612
03015-000    14501
08260-030    14194
05145-901    14128
05311-000    13191
05541-030    13006
05588-000    11976
05409-011    11948
04184-000    11944
04534-002    11912
05021-010    11886
05027-000    11664
01307-000    11574
Name: count, dtype: int64

Contagem de valores para coluna: bairro

bairro
PERDIZES                  170331
CJ HAB JOSE BONIFACIO     148389
ITAQUERA                  124110
AMERICANOPOLIS            106706
STA ETELVINA VII           94915
CONJ PE M DA NOBREGA       80386
STA ETELVINA IIA           79062
FAZENDA DA JUTA            76766
C H PRESID JUSCELINO       66475
COHAB ADVENTISTA           62667
CJ HAB BRIG F LIMA         61854
CAPELA DO SOCORRO          52116
JD BARRO BRANCO I          51790
JD CONQUISTA               44666
VL IOLANDA                 40202
CJ HAB RAPOSO TAVARES      37703
ITAIM PAULISTA             29044
ALTO DE PINHEIROS          28936
CJ HAB INACIO MONTEIRO     27477
A E CARVALHO               26069
Name: count, dtype: int64

## Carregamento e Visualização dos Dados de ITBI

Carrega o dataset de ITBI e exibe as primeiras linhas e informações sobre a estrutura dos dados.

In [21]:
# Carrega o dataset de ITBI processado
# low_memory=False evita avisos sobre tipos mistos durante a leitura
df_itbi = pd.read_csv('data/ITBI_2019_2024.csv', low_memory=False)

# Exibe as primeiras 20 linhas do dataset
display(df_itbi.head(20))

# Exibe informações sobre a estrutura do dataset (tipos de dados, valores não nulos, uso de memória)
display(df_itbi.info())

,N° do Cadastro (SQL),Natureza de Transação,Valor de Transação (declarado pelo contribuinte),Data de Transação,Valor Venal de Referência,Proporção Transmitida (%),Valor Venal de Referência (proporcional),Base de Cálculo adotada,Tipo de Financiamento,Valor Financiado,Situação do SQL,Área do Terreno (m2),Área Construída (m2),Ano da Transacao,Mes da Transacao,Ano/Mes da Transacao,setor,quadra,lote,bairro
0,12310100659,1.Compra e venda,900000.00,02/01/2019,773836.00,100.00,773836.00,900000.00,1.Sistema Financeiro de Habitação,400000.00,Ativo Predial,49139,246,2019,1,2019/01,123,101,0065,NaN
1,05528502403,1.Compra e venda,420000.00,02/01/2019,303832.00,100.00,303832.00,420000.00,1.Sistema Financeiro de Habitação,340721.07,Ativo Predial,5152,109,2019,1,2019/01,055,285,0240,NaN
2,29903601032,1.Compra e venda,650000.00,03/01/2019,459364.00,100.00,459364.00,650000.00,NaN,0.00,Ativo Predial,1886,98,2019,1,2019/01,299,036,0103,NaN
3,04201104559,1.Compra e venda,61765.36,03/01/2019,300840.00,100.00,300840.00,300840.00,NaN,0.00,Ativo Predial,1968,84,2019,1,2019/01,042,011,0455,NaN
4,02206602970,1.Compra e venda,965000.00,03/01/2019,575501.00,100.00,575501.00,965000.00,NaN,0.00,Ativo Predial,1548,172,2019,1,2019/01,022,066,0297,NaN
5,04201104559,1.Compra e venda,62092.62,03/01/2019,300840.00,100.00,300840.00,300840.00,NaN,0.00,Ativo Predial,1968,84,2019,1,2019/01,042,011,0455,NaN
6,01500803995,1.Compra e venda,690000.00,03/01/2019,351710.00,100.00,351710.00,690000.00,NaN,0.00,Ativo Predial,1100,98,2019,1,2019/01,015,008,0399,NaN
7,23007502991,1.Compra e venda,175000.00,02/01/2019,47460.00,100.00,47460.00,175000.00,1.Sistema Financeiro de Habitação,138835.37,Ativo Predial,1742,57,2019,1,2019/01,230,075,0299,CJ HAB JOSE BONIFACIO
8,09016400885,1.Compra e venda,380000.00,02/01/2019,283295.00,100.00,283295.00,380000.00,NaN,0.00,Ativo Predial,3200,107,2019,1,2019/01,090,164,0088,NaN
9,09045201674,1.Compra e venda,440000.00,03/01/2019,453153.00,100.00,453153.00,453153.00,NaN,0.00,Ativo Predial,6056,163,2019,1,2019/01,090,452,0167,NaN
10,00907109292,1.Compra e venda,1900000.00,03/01/2019,1084182.00,100.00,1084182.00,1900000.00,NaN,0.00,Ativo Predial,10156,202,2019,1,2019/01,009,071,0929,NaN
11,00907110525,1.Compra e venda,145000.00,03/01/2019,93303.00,100.00,93303.00,145000.00,NaN,0.00,Ativo Predial,10156,20,2019,1,2019/01,009,071,1052,NaN
12,09016401520,1.Compra e venda,317000.00,03/01/2019,233334.00,100.00,233334.00,317000.00,NaN,0.00,Ativo Predial,3200,88,2019,1,2019/01,090,164,0152,NaN
13,17803800318,1.Compra e venda,10000.00,03/01/2019,295324.00,25.00,73831.00,73831.00,NaN,0.00,Ativo Predial,300,90,2019,1,2019/01,178,038,0031,NaN
14,01001906462,1.Compra e venda,1350000.00,04/01/2019,1770203.00,100.00,1770203.00,1770203.00,NaN,0.00,Ativo Predial,720,301,2019,1,2019/01,010,019,0646,NaN
15,01408801663,1.Compra e venda,865000.00,02/01/2019,632228.00,100.00,632228.00,865000.00,NaN,0.00,Ativo Predial,982,157,2019,1,2019/01,014,088,0166,NaN
16,13503000134,1.Compra e venda,130000.00,04/01/2019,395043.00,50.00,197521.50,197521.50,NaN,0.00,Ativo Predial,300,652,2019,1,2019/01,135,030,0013,NaN
17,14203201550,1.Compra e venda,22000.00,03/01/2019,107484.00,21.34,22937.09,22937.09,NaN,0.00,Ativo Predial,10462,67,2019,1,2019/01,142,032,0155,NaN
18,13503000134,1.Compra e venda,130000.00,04/01/2019,395043.00,50.00,197521.50,197521.50,NaN,0.00,Ativo Predial,300,652,2019,1,2019/01,135,030,0013,NaN
19,11503801186,1.Compra e venda,180000.00,03/01/2019,78857.00,100.00,78857.00,180000.00,1.Sistema Financeiro de Habitação,144000.00,Ativo Predial,1472,61,2019,1,2019/01,115,038,0118,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 908503 entries, 0 to 908502
Data columns (total 20 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   N° do Cadastro (SQL)                              908503 non-null  object
 1   Natureza de Transação                             908503 non-null  object
 2   Valor de Transação (declarado pelo contribuinte)  908503 non-null  float64
 3   Data de Transação                                 908503 non-null  object
 4   Valor Venal de Referência                         908503 non-null  float64
 5   Proporção Transmitida (%)                         908503 non-null  float64
 6   Valor Venal de Referência (proporcional)          908503 non-null  float64
 7   Base de Cálculo adotada                           908331 non-null  float64
 8   Tipo de Financiamento                             351401 non-null  object
 9   Valor Financiado                                  908503 non-null  float64
 10  Situação do SQL                                   908503 non-null  object
 11  Área do Terreno (m2)                              908503 non-null  int64
 12  Área Construída (m2)                              908503 non-null  int64
 13  Ano da Transacao                                  908503 non-null  int64
 14  Mes da Transacao                                  908503 non-null  int64
 15  Ano/Mes da Transacao                              908503 non-null  object
 16  setor                                             908503 non-null  object
 17  quadra                                            908503 non-null  object
 18  lote                                              908503 non-null  object
 19  bairro                                            37136 non-null   object
dtypes: float64(6), int64(4), object(10)
memory usage: 138.6+ MB

None

### Análise de Valores Ausentes - ITBI

Identifica e quantifica valores ausentes (NaN) em cada coluna do dataset de ITBI.

In [22]:
# Calcula a quantidade de valores ausentes por coluna no dataset de ITBI
missing_values = df_itbi.isnull().sum()
display(missing_values)

N° do Cadastro (SQL)                                     0
Natureza de Transação                                    0
Valor de Transação (declarado pelo contribuinte)         0
Data de Transação                                        0
Valor Venal de Referência                                0
Proporção Transmitida (%)                                0
Valor Venal de Referência (proporcional)                 0
Base de Cálculo adotada                                172
Tipo de Financiamento                               557102
Valor Financiado                                         0
Situação do SQL                                          0
Área do Terreno (m2)                                     0
Área Construída (m2)                                     0
Ano da Transacao                                         0
Mes da Transacao                                         0
Ano/Mes da Transacao                                     0
setor                                                    0
quadra                                                   0
lote                                                     0
bairro                                              871367
dtype: int64

### Estatísticas Descritivas - ITBI

Calcula estatísticas descritivas para todas as variáveis numéricas do dataset de ITBI.

In [23]:
# Seleciona apenas as colunas numéricas (int64 e float64) do dataset de ITBI
numerical_columns = df_itbi.select_dtypes(include=['int64', 'float64'])

# Calcula estatísticas descritivas (count, mean, std, min, 25%, 50%, 75%, max)
descriptive_stats = numerical_columns.describe()
display(descriptive_stats)

,Valor de Transação (declarado pelo contribuinte),Valor Venal de Referência,Proporção Transmitida (%),Valor Venal de Referência (proporcional),Base de Cálculo adotada,Valor Financiado,Área do Terreno (m2),Área Construída (m2),Ano da Transacao,Mes da Transacao
count,908503.00,908503.00,908503.00,908503.00,908331.00,908503.00,908503.00,908503.00,908503.00,908503.00
mean,624546.22,4454465.95,68.98,413847.90,672730.87,104144.32,7192.17,740.23,2021.80,6.89
std,2828282.89,20350340.46,44.53,2144920.41,2933203.03,183714.54,46485.81,4487.39,1.64,3.33
min,0.00,0.00,0.00,0.00,0.00,-604339.00,2.00,0.00,2019.00,1.00
25%,215000.00,230383.00,1.43,38985.82,230000.00,0.00,500.00,56.00,2021.00,4.00
50%,305489.29,447013.00,100.00,208365.00,330000.00,0.00,1738.00,105.00,2022.00,7.00
75%,550000.00,1659357.00,100.00,417948.00,600000.00,188000.00,4958.00,197.00,2023.00,10.00
max,729435080.10,1652865322.00,823.64,488407868.00,729435080.10,18050000.00,1669181.00,225002.00,2024.00,12.00

### Análise de Dados Categóricos - ITBI

Examina a distribuição e frequências das variáveis categóricas do dataset de ITBI. Para colunas com muitos valores únicos, exibe apenas as 20 categorias mais frequentes.

In [24]:
# Seleciona todas as colunas do tipo object (categóricas) do dataset de ITBI
categorical_columns = df_itbi.select_dtypes(include='object').columns.tolist()
display(categorical_columns)

# Remove coluna identificadora que não é variável categórica de interesse
categorical_columns.remove('N° do Cadastro (SQL)')

# Para cada coluna categórica, exibe a contagem de valores
for col in categorical_columns:
    print(f"\nContagem de valores para coluna: {col}")
    # Exibe as 20 categorias mais frequentes para colunas com muitos valores únicos
    if df_itbi[col].nunique() > 20:
        display(df_itbi[col].value_counts().head(20))
    else:
        # Exibe todas as categorias se houver 20 ou menos valores únicos
        display(df_itbi[col].value_counts())

['N° do Cadastro (SQL)',
 'Natureza de Transação',
 'Data de Transação',
 'Tipo de Financiamento',
 'Situação do SQL',
 'Ano/Mes da Transacao',
 'setor',
 'quadra',
 'lote',
 'bairro']

Contagem de valores para coluna: Natureza de Transação

Natureza de Transação
1.Compra e venda                                                          821021
12.Dação em pagamento por escritura pública                                20283
20.Realização ou integralização de capital                                 11184
2.Cessão de direitos relativos a compromisso de compra e venda              8959
15.Permuta por escritura pública                                            8568
4.Arrematação (em leilão ou hasta pública)                                  8151
17.Resolução da alienação fiduciária por inadimplemento                     7376
33.Demais atos onerosos translativos                                        6100
3.Adjudicação (vinculada a processo de execução ou cobrança de dívida)      3178
26.Cessão de direitos sobre o imóvel com alienação fiduciária               2617
8.Cessão de direitos hereditários (ou sucessórios)                          1908
5.Adjudicação compulsória                                                   1728
27.Excesso de quinhão ou quota-parte na divisão amigável ou judicial        1136
29.Excesso de meação na partilha (separação / divórcio)                     1086
34.Demais sentenças judiciais                                               1063
5.Excesso de meação ou quinhão na partilha                                   904
23.Cisão total ou parcial                                                    842
24.Extinção de pessoa jurídica                                               697
40.Excesso na integralização de capital                                      507
28.Excesso de meação ou quinhão na partilha (sucessão causa mortis)          248
Name: count, dtype: int64

Contagem de valores para coluna: Data de Transação

Data de Transação
30/08/2024    2197
29/11/2024    2172
28/03/2024    2012
30/06/2023    1986
29/09/2023    1882
28/06/2024    1819
30/09/2022    1735
30/04/2024    1692
21/06/2024    1614
30/06/2022    1568
20/12/2019    1527
18/12/2020    1525
10/04/2024    1516
31/07/2024    1491
30/11/2023    1473
22/04/2024    1425
28/04/2023    1423
31/03/2023    1421
12/11/2021    1413
31/10/2023    1399
Name: count, dtype: int64

Contagem de valores para coluna: Tipo de Financiamento

Tipo de Financiamento
1.Sistema Financeiro de Habitação    304268
2.Minha Casa Minha Vida               41666
3.Consórcio                            4405
99.SFI, Carteira Hipotecária, etc      1051
5                                         8
4                                         3
Name: count, dtype: int64

Contagem de valores para coluna: Situação do SQL

Situação do SQL
Ativo Predial            769271
Ativo Territorial        102207
Cancelado Predial         17954
Cancelado Territorial     14551
Não_Existe_Exercício       4520
Name: count, dtype: int64

Contagem de valores para coluna: Ano/Mes da Transacao

Ano/Mes da Transacao
2024/08    20309
2024/04    20222
2024/07    19414
2024/06    18589
2024/05    18365
2024/11    17767
2024/03    17016
2023/08    16918
2021/12    16891
2024/12    16243
2023/05    16138
2021/08    16130
2023/03    16059
2021/11    15856
2023/06    15739
2023/09    15318
2023/10    15227
2020/12    15219
2022/12    15198
2021/09    15140
Name: count, dtype: int64

Contagem de valores para coluna: setor

setor
085    20659
041    18823
087    17320
010    16134
171    14299
299    12657
086    11985
101    11559
062    10892
090    10828
007    10742
013    10728
009    10305
042    10297
016    10217
089     9965
047     9892
197     9748
054     9730
169     9028
Name: count, dtype: int64

Contagem de valores para coluna: quadra

quadra
001    10694
006     8291
002     7716
068     7665
016     7456
040     7337
046     7146
025     7082
054     6960
023     6710
047     6574
007     6496
044     6459
003     6418
019     6407
024     6401
012     6304
039     6287
017     6276
013     6091
Name: count, dtype: int64

Contagem de valores para coluna: lote

lote
0001    13683
0002     9948
0004     8808
0006     8715
0003     7000
0009     6969
0007     6604
0015     6547
0005     6155
0011     6134
0019     5966
0008     5773
0012     5758
0021     5336
0020     5271
0032     5239
0016     5197
0010     5109
0017     5070
0024     5048
Name: count, dtype: int64

Contagem de valores para coluna: bairro

bairro
PERDIZES                  8910
ITAQUERA                  4193
CJ HAB RAPOSO TAVARES     2922
CONJ PE M DA NOBREGA      2720
AMERICANOPOLIS            2129
DESDOBRO QD 1 E CD 1 9    1790
CJ HAB JOSE BONIFACIO     1534
ALTO DE PINHEIROS         1194
COHAB ADVENTISTA          1082
FAZENDA DA JUTA           1078
CAPELA DO SOCORRO          814
C H PRESID JUSCELINO       801
STA ETELVINA VII           776
STA ETELVINA IIA           699
TORRE C                    588
A E CARVALHO               587
FREG DO O                  564
CJ HAB BRIG F LIMA         503
JD BARRO BRANCO I          387
JD HELEAN                  378
Name: count, dtype: int64